body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#login{
    max-width: 500px;
    margin:auto;
    flex: 1;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.10);
    padding: 1rem 1rem 1rem 1rem;
}
.form-header{
    text-align: center;
}

form label{
    font-size: 1rem;
}