body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.container-main{
  background-color: #f7f7f7;
  height: auto;
}

.btn:focus{
  outline: none;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.container-header{
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding:10px 5px 10px 5px;
  background-color: white;
}

.container-body{
  padding:5px 10px;
}

.container-header-action{
  justify-content: end;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.note{
  padding:15px 20px 15px 20px;
  margin:5px;
  background-color: white;
  border-radius: 10px;
  box-shadow: azure;
  display: block;
}

.note>.note-header{
  display: flex;
  font-size: 20px;
  align-content: flex-start;
  justify-content: space-between;
}

.note>.note-header>.note-header-action{
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 0;
}

.delete-btn{
  background-color: red;
  border-radius: 10px;
  padding:5px 10px;
  border:none;
}
.delete-btn:focus{
  border: none;
}

.note>.note-body{
  padding-left: 22px;
  justify-content: left;
  font-size: 14px;
}


@media only screen and (max-width: 1000px) {
  .container-main{
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media only screen and (max-width: 600px){
 .container-main{
   width: 100%;
   margin-left: auto;
   margin-right: auto;
 }

}

@media only screen and (min-width: 1001px) {
  .container-main{
    max-width: 900px;
    margin:auto;
  }
}
